<nav class="navbar">
  <div class="logo">
    <a routerLink="/">Gestore B&B</a>
  </div>
  @if (!isAdmin()) {
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="nav-search">
      <div class="search-inputs">
        <input type="date" formControlName="checkin" class="nav-input" title="Data Arrivo">
        <input type="date" formControlName="checkout" class="nav-input" title="Data Partenza">

        <select formControlName="type" class="nav-select">
          <option [ngValue]="null">Tipo</option>
          @for (type of roomTypes; track type) {
            <option [value]="type">{{type}}</option>
          }
        </select>

        <button type="submit" class="btn-base btn-search">Cerca</button>
      </div>
    </form>
  } @else {

  }
  <ul class="nav-links">
    @if (this.keycloak.authenticated) {
      @if(!isAdmin()) {
        <li>
          <a [routerLink]="['/me']" class="nav-link-text"> Profilo</a>
        </li>
      }
      <li>
        <button class="btn-base btn-logout" (click)="logout()">Esci</button>
      </li>
    } @else {
      <li>
        <button class="btn-base btn-login" (click)="login()">Accedi</button>
      </li>
      <li>
        <button class="btn-base btn-login" (click)="register()">Registrati</button>
      </li>
    }
  </ul>
</nav>
