<nav class="navbar">
  <div class="logo">
    <a routerLink="/">Gestore B&B</a>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="nav-search">
    <div class="search-inputs">
      <input type="date" formControlName="checkin" class="nav-input" title="Data Arrivo">
      <input type="date" formControlName="checkout" class="nav-input" title="Data Partenza">

      <select formControlName="type" class="nav-select">
        <option [ngValue]="null">Tipo</option>
        @for (type of roomTypes; track type) {
          <option [value]="type">{{type}}</option>
        }
      </select>

      <button type="submit" class="btn-base btn-search">Cerca</button>
    </div>
  </form>

  <ul class="nav-links">
    @if (isAdminAreaVisible()) {
      <li>
        <a routerLink="/admin" routerLinkActive="active" class="nav-link-text">Gestione</a>
      </li>
    }

    @if (this.keycloak.authenticated) {
      <li>
        <a routerLink="/profile" routerLinkActive="active" class="nav-link-text">Profilo</a>
      </li>
      <li>
        <button class="btn-base btn-logout" (click)="logout()">Esci</button>
      </li>
    } @else {
      <li>
        <button class="btn-base btn-login" (click)="login()">Accedi</button>
      </li>
    }
  </ul>
</nav>
