<nav class="navbar">
  @if (!isAdmin()) {
    <div class="logo">
      <a routerLink="/">Gestore B&B</a>
    </div>
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="nav-search">
      <div class="search-inputs">
        <input type="date" formControlName="checkin" class="nav-input" title="Data Arrivo">
        <input type="date" formControlName="checkout" class="nav-input" title="Data Partenza">
        <mat-icon>meeting_room</mat-icon>
        <select formControlName="minSize" class="nav-input">
          <option [ngValue]="null">Locali</option>
          <option [ngValue]="1">1</option>
          <option [ngValue]="2">2</option>
          <option [ngValue]="2">3</option>
        </select>
        <mat-icon>person</mat-icon>
        <select formControlName="minGuests" class="nav-input">
          <option [ngValue]="null">Ospiti</option>
          <option [ngValue]="1">1</option>
          <option [ngValue]="2">2</option>
          <option [ngValue]="3">3</option>
          <option [ngValue]="4">4</option>
          <option [ngValue]="5">5</option>
        </select>

        <button type="submit" class="btn-base btn-search">Cerca</button>
      </div>
    </form>
  } @else {
    <div class="logo">
      <a> Gestore B&B</a>
    </div>
  }
  <ul class="nav-links">
    @if (this.keycloak.authenticated) {
      @if(!isAdmin()) {
        <li>
          <a [routerLink]="['/me']" class="nav-link-text"> Profilo</a>
        </li>
      }
      <li>
        <button class="btn-base btn-logout" (click)="logout()">Esci</button>
      </li>
    } @else {
      <li>
        <button class="btn-base btn-login" (click)="login()">Accedi</button>
      </li>
      <li>
        <button class="btn-base btn-login" (click)="register()">Registrati</button>
      </li>
    }
  </ul>
</nav>
