<div class="container">

  <div class="results">
    @if (rooms.length === 0) {
      <p>Nessuna stanza da mostrare.</p>
    }
    <div class="room-list">
      @for (room of rooms; track room.number) {
        <div class="room-card">
          <div class="room-info">
            <a [routerLink]="['/room', room.number]"> </a>

            <h4>Camera {{ room.number }} - {{ room.name }}</h4>
            <span class="badge">{{ room.type }}</span>
            <p>{{ room.description }}</p>
            <p class="price">Prezzo: <strong>{{ room.price }} €</strong></p>
          </div>

          <div class="room-actions">
            @if (keycloak.authenticated) {
              <button [routerLink]="['/room', room.number]" class="btn-prenota">Prenota</button>
            } @else {
              <button class="btn-disabled">Prenota</button>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
