<div class="room-detail-container"> @if (room == null) {
  <p class="error-message">Errore nella ricezione della stanza.</p>
} @else {
  <div class="room-detail-card">

    <div class="room-details">
      <h2 class="room-title">{{room.name}}, <span class="room-type">{{room.type}}</span></h2>
      <p class="room-description">{{room.description}}</p>
    </div>

    <div class="reservation-card">
      <h3>Riepilogo Prenotazione</h3>
      <div class="summary-line">
        <span class="label">Ospite:</span>
        <span class="value">{{this.reservation?.guest?.name}}</span>
      </div>
      <div class="summary-line">
        <span class="label">Stanza:</span>
        <span class="value">{{this.reservation?.room?.number}}</span>
      </div>
      <div class="summary-line">
        <span class="label">Check-in:</span>
        <span class="value date-value">{{this.reservation?.checkin}}</span>
      </div>
      <div class="summary-line">
        <span class="label">Check-out:</span>
        <span class="value date-value">{{this.reservation?.checkout}}</span>
      </div>

      <div class="total-price-box">
        <span class="total-label">Totale Stimato:</span>
        <span class="total-value">{{this.reservation?.price}}</span>
      </div>
    </div>

    <button class="btn-prenota" (click)="reserve()">Conferma Prenotazione</button>

  </div>
}
</div>
